body{
    background:#ccc;
    color:#333;
    margin:1px 6%;
}
img{
    width:630px;
    height:420px;
    display:block;
    clear:both;
}
ul{
    padding:1px;
}
li{
    list-style: none;
    float:left;
    padding:2px 2px 2px 0;
}
#gallery img {
    width: 60px;
    height: 60px;
    display: block;
}
p{
    width:630px;
    text-align:center;
}
